 *{
 	
	margin: 0;
	padding:0;
}


.main{
	height:100%;
	justify-content: space-around;
	margin: 3%;
	padding: 3%;
}
#div1{
           background-color: white;
           width:50%;
           float:right;
           height:500px;
          
	}

#div1 p{
	margin:5%;
	padding:2%;


}
#div2{
           background-color:white;
		   width:50%;
		   float:left;
		   height:500px;
	 }
#div2 h1{
	
	font-size: 2.2rem;
    font-weight: 500;
    
    color: #c91c4a;
    padding: 10px 20px;
    letter-spacing: 1px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

